<hr class='hr-line'>
<center>
  <!--<a href='https://scholar.google.com/citations?user=NflBi1cAAAAJ&hl=en' class='btn'>Google Scholar</a>
  <a href='http://orcid.org/0000-0001-7603-3093' class='btn'>ORCID</a>
  <a href='https://www.researchgate.net/profile/Luis_Rodriguez-R' class='btn'>ResearchGate</a>
  <a href='https://publons.com/a/326532' class='btn'>Publons</a>-->
  <a href='/about' class=btn>About</a>
  <a href='/about/education' class=btn>Education</a>
  <!--<a href='/about/experience' class=btn>Experience</a>
  <a href='/about/personal' class=btn>Personal interests</a>-->
</center>
<hr class='hr-line'>
