<div class='post-list'>
  <h2 class='title'>Recent Posts</h2>
  <ul>
    {%- assign posts = site.posts | where_exp: 'post', 'post.category != hidden' -%}
    {% for post in posts limit:3 %}
      <li class='card'>
        <a class='card-title' href='{{ site.url }}{{ post.url }}'>{{ post.title }}</a>
        <div class='card-under-title'>
          <a class='zoombtn' href='{{ site.url }}{{ post.url }}' style='font-size:0.9rem'>
            {{ post.date | date_to_string }},
            {% if post.category %}
              {{ post.category }}
            {% else %}
              Uncategorized
            {% endif %}
            <i class='fas fa-fw fa-angle-right'></i>
          </a>
        </div>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
