---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header flex" role="banner">
    <div class="container wrapper" style='max-width:650px;margin-bottom:0;'>
      <div class="row content">
        <a href="{{ site.url }}">
          <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
        </a>
        <h3 class="title">
          <a class="zoombtn" href="{{ site.url }}">
            <p style="font-size:1.2rem;font-weight:300;">
              {{ site.title }}
              <span style="font-size:0.9rem;display:block;margin:-0.5em;">
                {{ site.bio }}
              </span>
            </p>
          </a>
        </h3>
        <hr class="hr-line">
        <h3 class="title post-title">
          <a class="btn zoombtn" href="{{ site.url }}/about">
            <i class='fas fa-fw fa-info-circle'></i>
            About
          </a>
          <a class="btn zoombtn" href="{{ site.url }}/lab">
            <i class='fas fa-fw fa-flask'></i>
            Lab
          </a>
          <a class="btn zoombtn" href="{{ site.url }}/publications">
            <i class='fas fa-fw fa-book'></i>
            Publications
          </a>
          <a class="btn zoombtn" href="{{ site.url }}/software">
            <i class='fas fa-fw fa-code'></i>
            Software
          </a>
          <a class="btn zoombtn" href="{{ site.url }}/posts">
            <i class='fas fa-fw fa-pencil-alt'></i>
            Blog
          </a>
        </h3>
        {% include social-links.html %}
      </div>
    </div>

    <div class="container wrapper" style='max-width:650px;'>
      <div class="content row">
        {% include recent-posts.html %}
      </div>
    </div>
   </header>
  {% include scripts.html %}
</body>
</html>
