---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
  {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
    <div class="wrapper animated fadeIn">
      <div class="content">
        <div class="post-title">
          <h1>{{ page.title }}</h1>
          <a class="btn zoombtn" href="{{site.url}}">
            <i class="fas fa-fw fa-home"></i>
          </a>
        </div>
        <hr class=hr-line>
        <p>
          The following list includes some of the Software I've developed.
          For a more comprehensive list of all my software contributions
          see <a href='https://github.com/lmrodriguezr' target=_blank>my GitHub profile</a>.
        </p>
        <hr class=hr-line>
        <div class="post-list">
          {% for post in site.categories.Software %}
            <ul>
              <li class="wow fadeInLeft card" data-wow-duration="1.5s">
                <a class="zoombtn card-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <div class='card-under-title'>
                  {% if post.publication %}<a href='{{ site.url }}/publication/{{ post.publication }}'><i class='far fa-fw fa-file-alt'></i></a>{% endif %}
                  {% if post.github %}<a href='https://github.com/{{ post.github }}' target='_blank'><i class='fab fa-fw fa-github'></i></a>{% endif %}
                  {% if post.gem %}<a href='https://rubygems.org/gems/{{ post.gem }}' target='_blank'><i class='fas fa-fw fa-gem'></i></a>{% endif %}
                  {% if post.r_package %}<a href='https://cran.r-project.org/packages={{ post.r_package }}' target='_blank'><i class='fab fa-fw fa-r-project'></i></a>{% endif %}
                  <a class='zoombtn' href='{{ site.url }}{{ post.url }}'><i class='fas fa-fw fa-angle-right'></i></a>
                </div>
                <p>{{ post.excerpt }}</p>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
  </header>
  {% include scripts.html %}
  <script src="{{ site.url }}/assets/js/wow.min.js"></script>
  <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
