---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
  {% include nav.html %}
  <!-- Header -->
  <header class="header" role="banner">
    <div class="wrapper animated fadeIn">
      <div class="content">
        <div class="post-title {% if page.feature %} feature {% endif %}">
          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date_to_string }}</h4>
          {% if site.reading_time %}
          <p class="reading-time">
            <i class="far fa-clock"></i>
            {% include read-time.html %}
          </p><!-- /.entry-reading-time -->
          {% endif %}
          <a class="btn btn-muted zoombtn" href="{{site.url}}" title='Home'>
            <i class="fas fa-fw fa-home"></i>
          </a>
          <a class="btn btn-muted zoombtn" href="{{site.url}}/software/" title='Software'>
            <i class="fas fa-fw fa-code"></i>
          </a>
          {% if page.publication %}
          <a class="btn" href="{{ site.url }}/publication/{{ page.publication }}">
            <i class="far fa-fw fa-file-alt"></i> Publication
          </a>
          {% endif %}
          {% if page.github %}
          <a class="btn" href="https://github.com/{{ page.github }}" target='_blank'>
            <i class="fab fa-fw fa-github"></i> GitHub
          </a>
          {% endif %}
          {% if page.gem %}
          <a class="btn" href="https://rubygems.org/gems/{{ page.gem }}" target='_blank'>
            <i class="fas fa-fw fa-gem"></i> Gem
          </a>
          {% endif %}
          {% if page.r_package %}
          <a class="btn" href="https://cran.r-project.org/packages={{ page.r_package }}" target='_blank'>
            <i class="fab fa-fw fa-r-project"></i> Package
          </a>
          {% endif %}
        </div>
        {{ content }}
        <div class="entry-meta">
        {% include meta.html %}
        </div>
      </div>
    </div>
    {% if page.comments and site.disqus_shortname %}<section id="disqus_thread" class="animated fadeInUp"></section><!-- /#disqus_thread -->{% endif %}
  </header>
  {% include scripts.html %}
</body>
</html>
